.section {

	&__brands {
		padding: 101px 0 128px;
		border-bottom: 1px solid rgba(197, 203, 226, 0.5);
	}
}

.brands {
	margin-top: 60px;

	@media (max-width: $breakpoint992) {
		flex-wrap: wrap;
		gap: 26px;
		justify-content: center;
		margin-top: 20px;
	}

	&__title {
		text-align: center;
		font-size: 36px;
		font-weight: 700;
		color: $title-color;
		@media (max-width: $breakpoint1440) {
			font-size: 30px;
			
		}
		@media (max-width: $breakpoint992) {
			font-size: 26px;
		}
		@media (max-width: $breakpoint768) {
			font-size: 22px;
		}
		@media (max-width: $breakpoint480) {
			font-size: 20px;
			line-height: 125%;
		}
		span{
			color: $accent-color;
		}
	}

	&__item {
		margin-top: 20px;
		@media (max-width: $breakpoint992) {
			display: flex;
			flex: 0 0 20%;
			justify-content: center;
		}
		@media (max-width: $breakpoint768) {
			display: flex;
			flex: 0 0 25%;
			justify-content: center;
			margin-top: 5px;
		}
	}
}
