.hero__wrapper{
	background: linear-gradient(252.91deg, #E3E7F6 3.68%, rgba(227, 231, 246, 0) 97.82%);
}

.section {

	&__hero {
		padding: 130px 0 210px;
		max-width: 1440px;
		margin: 0 auto;
		position: relative;
		@media (max-width: $breakpoint1640){
			padding: 100px 0 150px 0;
		}
		@media (max-width: $breakpoint1440){
			padding: 40px 0 150px 0;
		}
		@media (max-width: $breakpoint992){
			padding: 25px 0 350px 0;
		}
		@media (max-width: $breakpoint768){
			padding: 0 0 350px 0;
		}
		

		.hero-bg {
			position: absolute;
			bottom: 0;
			right: 75px;
			@media (max-width: $breakpoint1640){
				right: 50px;
				max-width: 600px;
			}
			@media (max-width: $breakpoint1440){
				right: 50px;
				max-width: 450px;
			}
			@media (max-width: $breakpoint992){
				right: 35px;
				max-width: 400px;
			}
			@media (max-width: $breakpoint768){
				right: 35px;
				max-width: 320px;
			}
			
			
		}
	}

	
}

.hero {
	display: flex;

	&__item {
		@media (max-width: $breakpoint992){
			flex: 1 1 100%;
		}
		flex: 0 1 50%;
	}

	&__item-title {
		font-size: 48px;
		font-weight: 700;
		line-height: 129%;
		color: $title-color;
		@media (max-width: $breakpoint992){
			font-size: 32px;
		}
		@media (max-width: $breakpoint768){
			text-align: center;
			font-size: 28px;
		}
	}

	&__item-descr {
		font-size: 22px;
		line-height: 150%;
		color: $text-color;
		margin-top: 32px;
		@media (max-width: $breakpoint992){
			font-size: 18px;
			line-height: 24px;
			margin-top: 15px;
		}
		@media (max-width: $breakpoint768){
			text-align: center;
			font-size: 16px;
			line-height: 24px;
		}

	}

	&__item-buttons {
		display: flex;
		gap: 16px;
		margin-top: 20px;
		@media (max-width: $breakpoint768){
			justify-content: center;
		}
		@media (max-width: $breakpoint480){
			margin-top: 10px;
			flex-direction: column;
		}
	}

	&__btn {
		margin-top: 20px;
		@media (max-width: $breakpoint480){
			margin-top: 0;
			display: flex;
			justify-content: center;
		}
	}
}