// Container & Breakpoints
@use 'sass:math';
$containerWidth: 1108;
$containerPadding: 30;
$containerSidePadding: math.div($containerPadding, 2);
$breakpoint1640: 1639.98 + px;
$breakpoint1440: 1439.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint480: 479.98 + px;



$accent-color: #BF0830;
$title-color: #1A2578;
$text-color: #484C63;
$textnav-color: #646A89;
$footerbg-color: #0D123C;
$white-color: #FFF;




// Burger Menu
$burgerBreakpoint: $breakpoint768;
$burgerColor: 'black';
